:root {
    --link-color: #666699;
    --hover-color: #dddddd;
    --text-color: #999999;
    --error-color: #cc6666;
    --bg-color: #ffffff;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'),
         url('../fonts/roboto-300.woff2') format('woff2'),
         url('../fonts/roboto-300.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'),
         url('../fonts/roboto-500.woff2') format('woff2'),
         url('../fonts/roboto-500.woff') format('woff');
}

body {
    font-size: 16px;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: var(--text-color);
    background-color: var(--bg-color);
}

select, option, button, input {
    font-family: Roboto, sans-serif;
}

p {
    margin: 0px;    
    padding: 20px;
}

a {    
    transition: .2s ease-out;
}

a.text-link, m {
    padding: 8px;
    padding-top: 5px;
    padding-bottom: 4px;
}

a:link, a:hover, a:active, a:visited, a:focus {
    text-decoration: none;
    color: var(--link-color);
}

a:hover, .link:hover {
    background-color: var(--hover-color);
    transition: none;
}

a:active, .link:active, .text-link:active {
    background-color: var(--link-color);
    transition: .05s ease-out;
}

nav, .point {
    border-bottom: 1px solid var(--hover-color);
}

.point .obj {
    font-weight: 500;
    color: var(--link-color);
    padding-left: 18px;
}

.point .desc {
    color: var(--text-color);
    text-align: right;
    padding-right: 18px;
}

.point .form-error {
    color: var(--error-color);
}

.point .obj, .point .desc, .point .form-error, 
input, select, button {
    padding-top: 18px;
    padding-bottom: 16px;
}

.link .obj, .link .desc, button {
    transition: .5s ease .5s;
}

.link:active .obj, a:active, button:active {
    color: var(--bg-color);
    transition: none;
}

.link:active .desc {
    opacity: 0;
    transition: none;
}

nav, footer {
    padding-top: 20px;
    padding-bottom: 20px;
}

nav {
    font-size: 18px;
}

main {
    min-height: calc(100vh - 130px);
}

footer {
    font-size: 14px;
}

input, select, button {
    border: none;
    background: none;
    outline: none;
    outline-offset: 0px;    
}

select, option, input {
    font-weight: 300;
    color: var(--link-color);
}

button {
    font-weight: 500;
    color: var(--link-color);
}

select.fix {
    -moz-appearance: none;
    -ms-progress-appearance: none;
    -webkit-appearance: none;
}

input.fix {
    padding-right: 60px;
}

select:hover, button:hover {
    cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0px;
}

input:invalid:focus {
    outline: 1px solid var(--error-color);
}

input:valid:focus, select:focus, button:focus {
    outline: 1px solid var(--link-color);
}

label {
    margin: 0px;
    cursor: text;
}

.text-center {
    padding-left: 10px;
    padding-right: 10px;
}

.upper {
    position: absolute;
}

.error {
    padding: 20px;
}

.error-number {
    font-size: 60px;
}
