{% extends 'engine/base.html' %}

{% block title %}
    welcome again
{% endblock %}

{% block navigation %}
    <p class="text-center">
        <m>Cars</m>
    </p>
{% endblock %}

{% block content %}    
    {% if marklist %}
        <table class="table"><tbody>
            {% for mark in marklist %}
            <tr class="link" onclick="location.href='{% url 'engine:subindex' mark.name %}';">
                <td class="obj link">{{ mark.name }}</td>
                <td class="desc link">{{ mark.country }}</td>
            </tr>
            {% endfor %}
        </tbody></table>
    {% else %}
        <p class="text-center">{{ error_message }}</p>
    {% endif %}
{% endblock %}