{% extends 'engine/base.html' %}

{% block title %}
    welcome again
{% endblock %}

{% block navigation %}
    <m>Cars</m>
{% endblock %}

{% block content %}    
    {% if marklist %}
        {% for mark in marklist %}
            <a href="{% url 'engine:subindex' mark.name %}" class="point row justify-content-center">                
                <div class="link col">{{ mark.name }}</div>
                <div class="desc col">{{ mark.country }}</div>               
            </a>
        {% endfor %}
    {% else %}
        <p class="text-center">{{ error_message }}</p>
    {% endif %}
{% endblock %}