{% extends 'engine/base.html' %}

{% block title %}
    welcome again
{% endblock %}

{% block navigation %}
    <div class="col text-center">
        <m>Cars</m>
    </div>
{% endblock %}

{% block content %}    
    {% if marklist %}
        {% for mark in marklist %}
            <a href="{% url 'engine:models' mark.url_name %}" class="point link row justify-content-center">                
                <div class="obj col">{{ mark.name }}</div>
                <div class="desc col">{{ mark.country }}</div>               
            </a>
        {% endfor %}
    {% else %}
        <p class="text-center">{{ error_message }}</p>
    {% endif %}
{% endblock %}