{% extends 'engine/base.html' %}

{% block title %}
    {{ mark_name }}
{% endblock %}

{% block navigation %}
    <div class="col text-center">
        <a href="{% url 'engine:marks' %}" class="text-link">Cars</a>
        <text>></text>
        <m>{{ mark_name }}</m>
    </div>
{% endblock %}

{% block content %}
    {% if modellist %}
        {% for model in modellist %}
            <a href="{% url 'engine:evos' url_mark_name model.url_name %}" class="point link row justify-content-center">                
                <div class="obj col">{{ model.name }}</div>
                <div class="desc col">{{ model.kind }}-Class</div>               
            </a>
        {% endfor %}
    {% else %}
        <p class="text-center">{{ error_message }}</p>
    {% endif %}
{% endblock %}