{% extends 'engine/base.html' %}

{% block title %}
    {{ mark_name }}
{% endblock %}

{% block content %}
    <p class="text-center">
        <a href="{% url 'engine:index' %}">Cars</a>
        <text>></text>
        <m>{{ mark_name }}</m>
    </p>
    {% if modellist %}
        <table class="table"><tbody>
            {% for model in modellist %}
            <tr onclick="window.document.location='{% url 'engine:subsubindex' mark_name model.name %}';">
                <td class="obj">{{ model.name }}</td>
                <td class="desc">{{ model.kind }}-Class</td>
            </tr>
            {% endfor %}
        </tbody></table>
    {% else %}
        <p class="text-center">{{ error_message }}</p>
    {% endif %}
{% endblock %}