{% extends 'engine/base.html' %}

{% block title %}
    {{ mark_name }}
{% endblock %}

{% block navigation %}
    <a href="{% url 'engine:index' %}">Cars</a>
    <text>></text>
    <m>{{ mark_name }}</m>
{% endblock %}

{% block content %}
    {% if modellist %}
        {% for model in modellist %}
            <a href="{% url 'engine:subsubindex' mark_name model.name %}" class="point row justify-content-center">                
                <div class="link col">{{ model.name }}</div>
                <div class="desc col">{{ model.kind }}-Class</div>               
            </a>
        {% endfor %}
    {% else %}
        <p class="text-center">{{ error_message }}</p>
    {% endif %}
{% endblock %}