@import url('https://fonts.googleapis.com/css?family=Roboto:300,500');

:root {
    --link-color: #5C748E;
    --hover-color: #DEE4ED;
    --text-color: #999999;
    --bg-color: #ffffff;
}

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: var(--text-color);
    background-color: var(--bg-color);
}

p {
    margin: 0px;
    padding: 20px;
}

a, m {
    padding: 8px;
    padding-top: 5px;
    padding-bottom: 4px;
}

a:link, a:hover, a:active, a:visited, a:focus {
    text-decoration: none;
    color: var(--link-color);
}

a:hover, .point:hover {
    background-color: var(--hover-color);
    transition: .2s ease;
}

a:active, .point:active {
    background-color: var(--link-color);
    transition: .05s ease;
}

.point {
    padding-top: 16px;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--hover-color);
    transition: .25s;
}

.point .link {
    font-weight: 500;
    color: var(--link-color);
}

.point .desc {
    color: var(--text-color);
    text-align: right;
}

.point .link, .point .desc {
    transition: .5s ease .5s;
}

.point:active .link, a:active {
    color: var(--bg-color);
    transition: none;
}

.point:active .desc {
    opacity: 0;
    transition: none;
}

section.row {
    padding-top: 20px;
    padding-bottom: 22px;
    border-bottom: 1px solid var(--hover-color);
}

nav {
    padding-top: 8px;
    font-size: 18px;
}

section.content {
    min-height: calc(100vh - 142px);
}

footer {
    font-size: 14px;
}

.error {
    font-size: 60px;
}
