@import url('https://fonts.googleapis.com/css?family=Roboto:300,500');

:root {
    --link-color: #5D6D7E;
    --hover-color: #D5D8DC;
    --text-color: #777777;
    --desc-color: #aaaaaa;
    --bg-color: #ffffff;
}

body {
    font-size: 16px;
    font-family: 'Roboto', monospace;
    background-color: var(--bg-color);
}

a, m {
    padding: 8px;
    padding-top: 5px;
    padding-bottom: 4px;
}

a:hover, tr.link:hover {
    background-color: var(--hover-color);
    transition: .2s ease;
    cursor: pointer;
}

a:link, a:hover, a:active, a:visited, a:focus {
    text-decoration: none;
    color: var(--link-color);
}

a:active, table.table tr.link:active {
    background-color: var(--link-color);
    transition: .05s ease;
}

table.table td {
    padding-top: 15px;
    border-top: 1px solid var(--hover-color);
    border-bottom: 1px solid var(--hover-color);
}

table.table td.obj {
    font-weight: 500;
    color: var(--text-color);
}

table.table td.obj.link {
    color: var(--link-color);
}

table.table td.desc {
    font-weight: 300;
    color: var(--desc-color);
    text-align: right;
}

table.table td.link {
    transition: .5s ease .5s;
}

table.table tr:active td.obj.link, a:active {
    color: var(--bg-color);
    transition: none;
}

table.table tr:active td.desc.link {
    opacity: 0;
    transition: none;
}

p.text-center {
    font-weight: 300;
    color: var(--desc-color);
}

nav {
    font-size: 18px;
    padding-top: 1em;
}

section {
    min-height: calc(100vh - 6.8em);
}

footer {
    font-size: 14px;
}

.error {
    font-size: 64px;
}
